<nav class="navbar navbar-light" style="background-color: rgb(209, 218, 224);">
    <span class="navbar-brand" href="#">
      <img src="../favicon.ico" alt="">
    </span>
    
  </nav>
  
  
  <div class="row content">
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
  </div>